<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Aaron's Adoption</title>
</head>
<body>
    
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        <% if (error === 'loginError') { %>
            It appears you've entered some wrong credentials, please try to log in again <a data-bs-target='#loginModal' data-bs-toggle='modal' href='#loginModal' class='alert-link'>here.</a>
        <% } else if (error === 'authError') { %>
            It appears you've tried to enter a protected area of the website, please log in and try again <a data-bs-target='#loginModal' data-bs-toggle='modal' href='#loginModal' class='alert-link'>here.</a>
        <% } %> 
    </div>
</body>
</html>