<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Aaron's Adoption</title>
</head>
<body>

    <% if (user === undefined) { %>

    <% } else if (user.isAdmin) { %>
        <div id="adminPanel" class="alert alert-secondary" role="alert">
            Admin Actions:
            <span id="panelButtons">
                <a href="/addBlogPost"><button type="button" class="btn btn-primary">Front Page Post</button></a>
                <button type="button" class="btn btn-primary">Check Adoption Requests</button>
                <button type="button" class="btn btn-primary">Manage User Privileges</button>
            </span>
        </div>
    <% } else if (user.isModerator) { %>
        <div id="adminPanel" class="alert alert-secondary" role="alert">
            Admin Actions:
            <span id="panelButtons">
                <button type="button" class="btn btn-primary">Add a Front Page Post</button>
                <button type="button" class="btn btn-primary">Check Adoption Requests</button>
    <% } %>
</body>
</html>