<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <title>Aaron's Adoption</title>
</head>
<body>
    <div class="header">
        <a href="/">
            <img class="icon" src="cat_icon.png" alt="Image unavailable.">
            <img class="icon" src="dog_icon.png" alt="Image unavailable.">
        </a>
        <div class="inner-header">
            <div class="header_container"> 
                <h1>Aaron's Adoptions</h1> 
                <ul class="navigation">
                <% if (name === undefined) { %>
                    <a><li><button id="ourAnimalsButton" type="button" class="btn btn-outline" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Please login to view our animals!">Our Animals</button></li></a>
                <% } else { %>
                    <a><li><button id="ourAnimalsButton" type="button" class="btn btn-outline">Our Animals</button></li></a>
                <% } %>
                <% if (name) { %>
                    <a><li><button id="namePlate" type="button" class="btn btn-outline"> <%= name %> </button></li></a>
                <% } else { %>
                    <a><li><button id="registerLoginButton" type="button" class="btn btn-outline">Register / Login</button></li></a>
                <% } %>
                <a><li><button type="button" class="btn btn-outline">Contact Us</button></li></a>
                <a><li><button type="button" class="btn btn-outline">About Us</button></li></a>
                </ul>
            </div>
        </div>
    </div>

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            <form action="/loginUser" method="post">
                <p>We require users to login to continue their adoption process, please enter your login details through the following:</p>
                    <label for="emailInputLogin">Email address</label>
                    <input type="email" class="form-control" id="emailInputLogin" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="form-group">
                    <label for="passwordInputLogin">Password</label>
                    <input type="password" class="form-control" id="passwordInputLogin" placeholder="Password" name="password" required>
                </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="registerButton">Don't have an account? Register here</button>
                <button type="submit" class="btn btn-default">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
    </div>
</div>

<div class="modal fade" id="registrationModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Registration</h4>
        </div>
        <div class="modal-body">
            <form action="/newUser" method="post">
                <p>We require registration for users to further their adoption process, please complete the following form:</p>
                <div class="form-group">
                    <label for="nameInput">Full Name</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Full Name" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="telephoneInput">Phone Number</label>
                    <input type="tel" class="form-control" id="telephoneInput" placeholder="Password" name="phNumber" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="loginButton">Already have an account? Login here</button>
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

</body>
    <script>
        $(document).ready(() => {
            $('#registerLoginButton').on('click', () => {
                $('#loginModal').modal({backdrop: true});
            });
            $('#loginButton').on('click', () => {
                $('#loginModal').modal({backdrop: true});
            });
            $('#registerButton').on("click", () => {
                $('#registrationModal').modal({backdrop: true});
            });
        });
    </script>
</html>