<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage_style.css">
    <title>Aaron's Adoption</title>
</head>
<body>
    <!-- HEADER AREA -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top"> 
        <div class="container">

            <a href="/" class="navbar-brand">Aaron's Adoptions</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav d-flex gap-3 ms-auto">
                <% if (user) { %>
                    <li class="nav-item">
                        <a href="/userProfile/<%= user._id %>"><button class="btn btn-outline-secondary text-light" type="button"><%= user.fullName %></button>
                    </li></a>
                    <li class="nav-item">
                        <a href="/logout/"><button class="btn btn-outline-secondary text-light" type="button">Logout</button></a>
                    </li>
                <% } else { %>
                    <li class="nav-item pe-4">
                        <button class="btn btn-outline-secondary text-light" data-bs-target="#loginModal" data-bs-toggle="modal" type="button">Login</button>
                    </li>
                <% } %>
                <% if (user && user.isAdmin) { %> 
                    <li class="nav-item dropdown pe-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Administrative Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/animals/admin_approval">Approve/Deny Intake Requests</a></li>
                            <li><a class="dropdown-item" href="/animals/adoption_approval">Approve/Deny Adoption Requests</a></li>
                            <li><a class="dropdown-item" href="/blogs?page=1&limit=3">Manage Blog Posts</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Login modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/loginUser" method="post">
                    <p>We require users to login to continue their adoption process, please enter your login details through the following:</p>
                        <label for="emailInputLogin">Email address</label>
                        <input type="email" class="form-control" id="emailInputLogin" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div class="form-group">
                        <label for="passwordInputLogin">Password</label>
                        <input type="password" class="form-control mb-3" id="passwordInputLogin" placeholder="Password" name="password" required>
                    </div>
            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        </div>
    </div>

        <!-- Registration Modal -->
        <div class="modal fade" id="registrationModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Registration modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                    <form action="/newUser" method="post">
                        <h5>Login Information</h5>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group my-1">
                                    <label for="emailInput" class="mb-1">Email address</label>
                                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="passwordInput" style="margin: 1% 0 1% 0;">Password</label>
                                    <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" required>
                                </div>
                                <h5>Profile Information</h5>
                                <hr class="my-2">
                                <div class="form-group mb-1">
                                    <label for="nameInput" style="margin-bottom: 1%;">Full Name</label>
                                    <input type="text" class="form-control" id="nameInput" placeholder="Full Name" name="fullName" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="telephoneInput" style="margin: 1% 0 1% 0;">Phone Number</label>
                                    <input type="tel" class="form-control" id="telephoneInput" placeholder="Phone Number" name="phNumber" required>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    
        <!-- Contact Info Modal (Removed from Nav Bar) -->
        <div class="modal fade" id="contactModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                Contact modal content
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contact Us</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">Address: 1 Example Street</li>
                        <li class="list-group-item">Postal Code: A1A 1A1</li>
                        <li class="list-group-item">Phone Number: 709-111-111</li>
                        <li class="list-group-item">Fax: 709-111-1111</li>
                        <li class="list-group-item">Email: info@aaronsadoptions.com</li>
                      </ul>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- END OF HEADER-->
    <%- body %>

    <!-- FOOTER AREA -->

    <!-- END OF FOOTER-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

<script>
    function outdoorBool() {
        if ($('#outdoorArea').val() === "True") {
            $('#fencedArea').prop('disabled', false);
        } else {
            $('#fencedArea').val('No');
            $('#fencedArea').prop('disabled', true);
        }
    }
</script>

</html>