.userProfileContainer {
    background-color: honeydew;
    width: 50%;
    margin: 5vh auto;
    display: grid;
    border-radius: 25px;
}

.list-group {
    margin: 2%;
}

.submitBtn {
    color: #101010e1;
    background-color: honeydew;
}

#userProfileTitle {
    margin: auto;
    padding-top: 2%;
}